
.callback {
  font-size: 20px;
  text-align: center;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 20px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

.ended {
  background: #c0392b;
}


* {
    margin: 0;
    padding: 0;
}

#clock {
    position: relative;
    width: 300px;
    height: 300px;

    background: url(../images/clockface.jpg);
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 300px;
    top: 0px;
    left: 142px;
}

#sec {
    background: url(../images/sechand.png);
    z-index: 3;
}

#min {
    background: url(../images/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../images/hourhand.png);
    z-index: 1;
}